* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;

}

#canvas1 {
    background: url('./assets//images/background.png');
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    opacity: .4;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 82%;
    height: 82vh;


}

#muteButton > * {
    position: absolute;
    top: 13%;
    right: 12%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.active {
    display: block;
}

#obstacles,
#bull,
#egg,
#toad,
#toads,
#larva,
#win {
    display: none;
}

#egg,
#larva {
    display: none;
}

#s {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    color: #7cac1b;
    font-size: 5rem;
    border: none;
    opacity: 1;
    cursor: pointer;
}

#s, 
#r,
#l,
#t,
#d:hover {
    color: #597a18;

}

#r,
#l,
#t,
#d {
    position: absolute;
    width: 4%;
    height: 5vh;
    margin: 0.1rem;
    background-color: #7cac1b;
    color: #fff;
    border: none;
    border-radius: 3rem;
    /* display: none; */
}

#l {
    bottom: 0%;
    left: 40%;
}

#t {
    bottom: 6%;
    left: 45%;
}

#d {
    bottom: 0%;
    left: 45%;
}

#r {
    bottom: 0%;
    left: 50%;
}


@media screen and (max-width: 750px) {
    #canvas1 {
        background: url('./assets//images/sm-background.png');

        width: 90%;
        height: 70%;
    }

    #overlay {

        width: 92%;
        height: 82vh;

    }

    #muteButton {
        top: 20%;
        right: 5%;
    }

    #obstacles,
    #bull,
    #egg,
    #toad,
    #toads,
    #larva,
    #win {
        display: none;
        width: 10% !important;
        height: 5% !important;

    }

    #egg,
    #larva {
        display: none;
        width: 3% !important;
        height: 1% !important;

    }

    #r,
    #l,
    #t,
    #d {
        display: inline-block;
    }
}


@media screen and (max-width: 500px) {
    #canvas1 {

        height: 60vh;
    }

    #overlay {
        height: 60vh;
    }

    #muteButton {
        top: 23%;
    }

    #r,
    #l,
    #t,
    #d {
        width: 8%;
        height: 6vh;
    }

    #l {
        bottom: 0%;
        left: 35%;
    }

    #t {
        bottom: 7.5%;
        left: 46%;
    }

    #d {
        bottom: 0%;
        left: 46%;
    }

    #r {
        bottom: 0%;
        left: 57%;
    }


}