* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;

}

#canvas1 {
    background: url('./assets//images/background.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 82%;
    height: 82vh;


}

#muteButton {
    position: absolute;
    top: 13%;
    right: 12%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.active {
    display: block;
}

#obstacles,
#bull,
#egg,
#toad,
#toads,
#larva,
#win {
    display: none;
    width: 15% !important;
    height: 15% !important;

}

#egg,
#larva {
    display: none;
    width: 5% !important;
    height: 5% !important;

}

@media screen and (max-width: 900px) {
    #canvas1 {
        background: url('./assets//images/sm-background.png');
        width: 90%;
        height: 100%;
    }

    #overlay {

        width: 92%;
        height: 100vh;


    }
}